@inherits XPress.Web.Html.HtmlPage
@using WebTester.Controls
@attrib{
// Add attributes for the template class here (Same as adding attributes before a class name).
// Example: [LinkConstructor("example.js")]
[LinkScript("TestMe.js")]
[LinkCss("TestCss.css")]
}
@{this.VebroseClientJavascript = true;}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    @InsertAutoPageHead()
    <title>Test page</title>
    <style>
        .testc {
            color: gray;
            -webkit-transition: all 1s ease-in-out;
            -ms-transition: all 1s ease-in-out;
            -moz-transition: all 1s ease-in-out;
        }

            .testc:hover {
                background-color: lightblue;
            }
    </style>
</head>
<body>
    <div id="a" class="SomeClass" tabindex="0">
        <div id="b" tabindex="1">
            Child
        </div>
        Parent
    </div>
    @Open(new XPress.Web.Controls.Generic.Button("")).OnClientEvent("click", "$$('#firstfloat,#secondfloat').each(function(idx,elm){elm.Show()})")
    Show floats
    @Close()
    @Open(new HtmlElement("div")).Css("color", "red", "font-size", "18.5pt", "padding", "5px").Attr("me", "ok").Class("testc")
    This is internal text within the div.
    @Close()
    This is a test page for html generation.
    <br />
    Loading internal:<br />
    @(new TestControl())
    @InsertAutoPageInit()
    @(Open(new XPress.Web.Controls.Generic.FloatingBox()).Attr("tabindex","1").Class("FloatBack")
        .Id("firstfloat").Css("left", "100px", "top", "100px").OnClientEvent("onclick", "$$(this).focus();this.Show();this.focus();").HideOnLoseContext(true))
    This is some html content for first floating box, Click to make this the top box.
    @Close()
    @Open(new XPress.Web.Controls.Generic.FloatingBox()).Class("FloatBack").Id("secondfloat").Css("left", "120px", "top", "120px").OnClientEvent("click", "$$(this);this.Show();")
    This is some html content for second floating box, Click to make this the top box.
    @Close()
</body>
</html>
